  <body>

    <!-- <div class="header">
      <h1>CribCuisine</h1>
      <h2> Find Delicious Homemade Food Near You </h2>
    </div> -->

    <div class="topnav">
     
      <a class="active" href="#home">CribCuisine</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      
        <button (click)="login()" class="btn pull-right"><span>LOG IN</span></button>  
    </div>

     
   
<ngb-carousel *ngIf="images" >
    
  <ng-template ngbSlide >
      
    <img [src]="images[0]" alt="First slide">

    <div class="carousel-caption">
        <p>ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp.</p>
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide >
    <img [src]="images[1]"  alt="Second slide">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide >
      <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
    <img [src]="images[2]" alt="Third slide">

  </ng-template >
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="Third slide">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>
  </body>
  <footer>
    <hr>
    <div class="container text-center">
        <p>&copy; Copyright @ Team Utilitarian 2017</p>
    </div>
  </footer>

  








