<!--		
    <label>Cuisine Name</label>
    <input type="text" class="form-control" placeholder="Cuisine Name">
  </div>
  <div class="form-group">
    <label>Cuisine Intro</label>
    <input type="text" class="form-control" style="height:100px">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="date" class="form-control">
  </div>
  <div class="form-group">
    <label>Time</label>
    <input type="time" class="form-control">
  </div>
  <div class="form-group">
    <label>Upload Image</label>
    <input type="file">
  </div>

</form>
-->
<app-cuisine-form (onSubmitted)="onSubmitted($event)"></app-cuisine-form>

