
<!-- <app-cuisine-form></app-cuisine-form> -->
<app-host-header></app-host-header>
<h1>Post Cuisine</h1>



<form [formGroup]="formGroup"
(ngSubmit)="onSubmit()">
  <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" linear>
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Fill out cuisine info</ng-template>
      <mat-form-field 
      class="full-width"> 
        <mat-label>Cuisine Name</mat-label>
        <input matInput 
        formControlName="cuisineName">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field
      class="full-width">
        <mat-label>Discription</mat-label>
        <input matInput formControlName="discription">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field
      class="full-width">
        <mat-label>Hosting Date</mat-label>
        <input matInput formControlName="hostingDate">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field
      class="full-width">
        <mat-label>Hosting Time</mat-label>
        <input matInput formControlName="hostingTime">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field
      class="full-width">
      <!-- <div class="form-group">
          <label for="price">Image</label>
          <input class="form-control" type="file" #file (change)="onChange(file.files)"  />
      </div> -->
        <mat-label>Image</mat-label>
        <input matInput formControlName="imageUrl">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div>Fill out your address</div>
      </ng-template>
      <mat-form-field>
          <mat-label>Dorm name/ Off-Campus</mat-label>
          <mat-select matInput formControlName="dormName">
            <mat-option value="Bethune Annex">Bethune Annex</mat-option>
            <mat-option value="College Hall North">College Hall North</mat-option>
            <mat-option value="College Hall South">College Hall South</mat-option>
            <mat-option value="Cook Hall">Cook Hall</mat-option>
            <mat-option value="Drew Hall">Drew Hall</mat-option>
            <mat-option value="Howard Plaza Towers East">Howard Plaza Towers East</mat-option>
            <mat-option value="Howard Plaza Towers West">Howard Plaza Towers West</mat-option>
            <mat-option value="Off Campus">Off Campus</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
  <p>
          <mat-form-field class="full-width">
              <mat-label>Street address 1</mat-label>
            <textarea matInput formControlName="streetAddress1"></textarea>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
              <mat-label>Street address 2</mat-label>
            <textarea matInput formControlName="streetAddress2"></textarea>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </p>
      
        <table cellspacing="0"><tr>
          <td>
            <mat-form-field class="full-width">
              <mat-label>City</mat-label>
            <input matInput formControlName="cityName">
          </mat-form-field></td>
          <td><mat-form-field class="full-width">
              <mat-label>State</mat-label>
            <input matInput formControlName="stateName">
          </mat-form-field></td>
          <td><mat-form-field class="full-width">
              <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode" #postalCode maxlength="5">
            <mat-hint align="end"></mat-hint>
          </mat-form-field></td>
        </tr></table>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>Number of Accomodations</ng-template>
      <mat-form-field>
          <mat-label>Number of customers</mat-label>
          <input matInput formControlName="numberCust" min="1">
        </mat-form-field>
      <div>
        <button mat-button>Done</button>
        <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>



    <!-- <mat-horizontal-stepper #stepper="matHorizontalStepper" linear>
        <mat-step [stepControl]="firstFormGroup">
                <form 
                [formGroup]="firstFormGroup"
                class="form-width"
                (ngSubmit)="onSubmit1(form1)"  #form1="ngForm">
            <ng-template matStepLabel>Fill out your Cuisine Information</ng-template>
            <mat-form-field class="full-width">
                <input matInput
                placeholder="Cuisine Name"
                type="text"
                name="name"
                ngModel
                #name = "ngModel"
                required>
            </mat-form-field>
            <mat-form-field class="full-width">
                    <input matInput 
                    placeholder="Cuisine Discription" 
                    required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput 
                type="date"
                placeholder="Hosting Date" 
                    required>
            </mat-form-field>
            <mat-form-field class="full-width">
                    <input matInput 
                    type="time"
                    placeholder="Hosting Time" 
                        required>
                </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
        <mat-step>
                <form 
                class="form-width"
                (ngSubmit)="onSubmit1(form1)"  #form1="ngForm">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                    <mat-select value="Select Dorm">
                      <mat-option value="Select Dorm">Select Dorm</mat-option>
                      <mat-option value="Bethune Annex">Bethune Annex</mat-option>
                      <mat-option value="College Hall North">College Hall North</mat-option>
                      <mat-option value="College Hall South">College Hall South</mat-option>
                      <mat-option value="Cook Hall">Cook Hall</mat-option>
                      <mat-option value="Drew Hall">Drew Hall</mat-option>
                      <mat-option value="Howard Plaza Towers East">Howard Plaza Towers East</mat-option>
                      <mat-option value="Howard Plaza Towers West">Howard Plaza Towers West</mat-option>
                      <mat-option value="Off Campus">Off Campus</mat-option>
                    </mat-select>
                  </mat-form-field>
            <p>
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Street address"></textarea>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Street address 2"></textarea>
                    </mat-form-field>
                  </p>
                
                  <table class="full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="full-width">
                      <input matInput placeholder="City">
                    </mat-form-field></td>
                    <td><mat-form-field class="full-width">
                      <input matInput placeholder="State">
                    </mat-form-field></td>
                    <td><mat-form-field class="full-width">
                      <input matInput #postalCode maxlength="5" placeholder="Postal Code">
                      <mat-hint align="end"></mat-hint>
                    </mat-form-field></td>
                  </tr></table>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
            </form>
        </mat-step>
        <mat-step>
                <form 
                class="form-width"
                (ngSubmit)="onSubmit1(form1)"  #form1="ngForm">
          <ng-template matStepLabel>Done</ng-template>
          <mat-form-field>
                <input matInput type="number" min="1" placeholder="Number">
                <mat-hint>Number of customers you can accomodate</mat-hint>
              </mat-form-field>
              <hr>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-icon-button type= "submit" color="warn">
                    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            </button>
          </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper> -->

<!-- <div class="cointainer">
  <div class="row">
    <div class="col-xs-12.col-md-8.col-lg-5">
      <div>
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input matInput 
                                placeholder="Cuisine Name" 
                                required>
                            </mat-form-field>
                        </form>
                  </div>
                  <div class="col-md-6">

                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
 -->
