  <h1>Post Cuisine</h1>

<div class="cointainer">
  <div class="row">
    <div class="col-xs-12.col-md-8.col-lg-5">
      <div>
        <form (ngSubmit)="onSubmit()"  #cuisineForm="ngForm">

          <div class="form-group">
            <label for="name">Cuisine Name</label>
            <input 
            type="text" 
            class="form-control" 
            required
            name="name"
            ngModel
            #name = "ngModel"
            >
            <span class="help_block" *ngIf = "!name.valid && name.touched">Please enter a valid name.</span>
          </div>
      
      
          <div class="form-group">
            <label for="intro">Intro</label>
            <input 
            type="text" 
            class="form-control" 
            required
            name="intro" 
            ngModel
            #intro = "ngModel"
            >
            <span class="help_block" *ngIf = "!intro.valid && intro.touched">Please enter a valid intro.</span>
          </div>
      
          <div class="form-group">
            <label for="address">Image</label>
            <input 
            type="text" 
            class="form-control" 
            required
            name="image"
            ngModel
            #image = "ngModel"
          >
          <span class="help_block" *ngIf = "!image.valid && image.touched">Please enter a valid image.</span>
          </div>
      
      
          <button  
          class="btn btn-success"
          type="submit"
          [disabled] = "!cuisineForm.valid">Submit</button>
      
        </form>
      </div>
    </div>
  </div>
</div>

