<app-host-header></app-host-header>
<h1>Post Cuisine</h1>

<div class="cointainer">
  <div class="row">
    <div class="col-xs-12.col-md-8.col-lg-5">
      <div>
        <form (ngSubmit)="onSubmit(cuisineForm)"  #cuisineForm="ngForm">

          <div class="form-group">
            <label for="name">Cuisine Name</label>
            <input 
            type="text" 
            class="form-control" 
            required
            name="name"
            ngModel
            #name = "ngModel"
            >
            <span class="help_block" *ngIf = "!name.valid && name.touched">Please enter a valid name.</span>
          </div>
      
      
          <div class="form-group">
            <label for="intro">Intro</label>
            <input 
            type="text" 
            class="form-control" 
            required
            name="intro" 
            ngModel
            #intro = "ngModel"
            >
            <span class="help_block" *ngIf = "!intro.valid && intro.touched">Please enter a valid intro.</span>
          </div>

          <div class="form-group">
            <label for="hostingtime">Hosting Time</label>
            <input 
            type="time" 
            class="form-control" 
            required
            name="hostingtime" 
            ngModel
            #hostingtime = "ngModel"
            >
            <span class="help_block" *ngIf = "!hostingtime.valid && hostingtime.touched">Please enter a valid time.</span>
          </div>
      
          <div class="form-group">
              <label for="price">Price</label>
              <input 
              type="number" 
              class="form-control" 
              required
              name="price" 
              ngModel
              #price = "ngModel"
              >
              <span class="help_block" *ngIf = "!price.valid && price.touched">Please enter a valid amount.</span>
            </div>
      
          <input type="file" #file (change)="onChange(file.files)" multiple />
          
          <button  
          class="btn btn-success"
          type="submit"
          [disabled] = "!cuisineForm.valid">Submit</button>
      
        </form>
      </div>
    </div>
  </div>
</div>

