extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8(ng-controller="cuisineListCtrl") 
      .error{{ message }}
       .row.list-group 
          .col-xs-12.list-group-item(ng-repeat="cuisine in data.cuisines")
            h4 
              a(href="/cuisine/{{cuisine._id}}") {{cuisine.name}}
            p
               cuisine{{cuisine.intro}}
               address {{cuisine.address}}
            
              
    .col-xs-12.col-sm-4 
      p.lead= sidebar
