<!-- <div class="row">
    <div class="col-xs-12">
      <h1 align="center">
        {{ cuisine.cuisineName }}
      </h1>
    </div>  
  </div>
  
  <div id="imageDiv">
    <div class="col-xs-12">
      <img src="{{ cuisine.imgUrl }}"  border="5" 
      width="300px" height="500px" 
      alt="{{ cuisine.name }}" class="img-responsive"
      style = "max-height: 300px;">
    </div>
  </div>
  
  <div class="textRow">
  <div class="row">
    <div class="col-xs-12"><p align="center">
      {{ cuisine.description }}
    </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12"><p align="center">
      Hosted by: {{ cuisine.hostName }}   rating:0
    </p>
    </div>
  </div>
  
  <div class="row">
      <div class="col-xs-12">
        <p align="center">
        Price: ${{ cuisine.price }}
      </p>
      </div>
    </div>
  
    <div class="row">
        <div class="col-xs-12">
          <p align="center">
          Hosting Date: {{ cuisine.hostingDate }}
        </p>
        </div>
      </div>
  
    <div class="row">
        <div class="col-xs-12">
          <p align="center">
          Hosting Time: {{ cuisine.hostingTime }}
        </p>
        </div>
      </div>
  
      <div class="row">
          <div class="col-xs-12">
            <p align="center">
            number of Guests: {{ cuisine.numberCust }}
          </p>
          </div>
        </div>
  
      <div class="row">
        <div class="col-xs-12">
          <p align="center">
          Location: {{ cuisine.dormName }}
        </p>
        </div>
      </div>
      <div id="lastDiv"></div>
      <div class="row">
          <button mat-fab color="warn"
          type="button" (click)="deleteListing(cuisine)">Delete</button>
        </div>
   </div> -->


   <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{ cuisine.cuisineName }}</mat-card-title>
        <mat-card-subtitle>Hosted by: {{ cuisine.hostName }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ cuisine.imgUrl }}" alt="{{ cuisine.name }}" class="img-responsive"
      style = "max-height: 300px;">
      <mat-card-content>
          <mat-card>{{ cuisine.description }}</mat-card>
          <mat-card>Hosting Date: {{ cuisine.hostingDate }}</mat-card>
          <mat-card>Hosting Time: {{ cuisine.hostingTime }}</mat-card>
          <mat-card>Location: {{ cuisine.dormName }}</mat-card>
          <mat-card>Number of Guests: {{ cuisine.numberCust }}</mat-card>
          <mat-card>Price: ${{ cuisine.price }}</mat-card>
      </mat-card-content>
    </mat-card>

    <button mat-raised-button color="warn" style="margin-left:100px"
        type="button" (click)="deleteListing(cuisine)">Delete</button>