<!DOCTYPE html>
<html>
<div id="banner" class="page-header">
  <div class="row">
    <div class="col-lg-6"></div>
      <h1>
        {{ vm.pageHeader.title }}
       <small>{{ vm.pageHeader.strapline }}</small>
      </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <label for="filter">Filter results</label>
    <input id="filter" type="text", name="filter", ng-model="textFilter">
    <div class="error">{{ vm.message }}</div>#
    <div class="row list-group">
      <div class="col-xs-12 list-group-item" ng-repeat="cuisine in vm.data.cuisines | filter : textFilter">
        <h4>
          <a href="/#/cuisine/{{ cuisine._id }}">{{ cuisine.name }}</a>
          <small class="rating-stars" rating-stars rating="cuisine.rating"></small>
          <span class="badge pull-right badge-default">{{ cuisine.distance | formatDistance }}</span>
        </h4>
        <p class="intro">{{ cuisine.intro }} </p>
        <p class="address">{{ cuisine.address }}</p>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p class="lead">{{ vm.sidebar.content }}</p>
  </div>
</div>
</html>
