<!-- <div id="page-loading">
  <img style="display:block; margin:0 auto;" src="http://bestanimations.com/Science/Gears/loadinggears/loading-gears-animation-10.gif">
</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
      /*VANILLA JAVASCRIPT*/
      var element = document.getElementById("page-loading");
      element.parentNode.removeChild(element);
      /* OR WITH jQuery*/
      $('#page-loading')
          .fadeOut('slow');
  });
</script> -->

<div class="row">
  <div class="col-md-5">
    <app-cuisine-list></app-cuisine-list>
  </div>
  <div class="col-md-7">
    <app-cuisine-detail></app-cuisine-detail>
  </div>
</div>